<ion-header>
  <ion-toolbar>
    <ion-title>Facturacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            Fecha:
          </ion-label>
          <ion-input disabled value="20/03/2023"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-searchbar placeholder="Buscar producto"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Cod
      </ion-col>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        10
      </ion-col>
      <ion-col>
        Monitor
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button>
            <ion-icon color="primary" name="add-circle"></ion-icon>
          </ion-button>

        </ion-buttons>
      </ion-col>


    </ion-row>

    <ion-item></ion-item>
    <ion-row>
      <ion-col>
        Cod
      </ion-col>
      <ion-col>
        Cant
      </ion-col>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Precio
      </ion-col>
      <ion-col>
        Total
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col>
        1
      </ion-col>
      <ion-col>
        2
      </ion-col>
      <ion-col>
        Pantalla
      </ion-col>
      <ion-col>
        $200
      </ion-col>
      <ion-col>
        $400
      </ion-col>
      <ion-col>
        <ion-buttons>

          <ion-button>
            <ion-icon color="danger" name="close-circle"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-col>
    </ion-row>


    <ion-item></ion-item>

    <ion-row class="ion-justify-content-end">
      <ion-col size="4">
        <ion-item>
          <ion-label>
            Subtotal:
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-end">
      <ion-col size="4">
        <ion-item>
          <ion-label>
            IVA:
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-end">
      <ion-col size="4">
        <ion-item>
          <ion-label>
            Descuento:
          </ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col size="4">
        <ion-item>
          <ion-label>
            Total:
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>



    <ion-row class="ion-justify-content-end">
      <ion-col size="4">
        <ion-button>
          Crear
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>



</ion-content>